---
import Project from "../components/Project.astro"
const data = [
    {
        "id": 1,
        "name": "Kaizen-shop",
        "desc": "an e-commerce created in React js",
        "link": "https://kaizen-shop.onrender.com/",
        "img": "../../public/images/kaizen.jpg",
        "languages": ["fa-brands fa-react","fa-brands fa-node-js"]
    },
    {
        "id": 2,
        "name": "Pixe",
        "desc": "a pixe.la cli created in python",
        "link": "https://github.com/medragneel/Pixe",
        "img":  "../../public/images/pixe.png",
        "languages":["fa-brands fa-python","fa-solid fa-terminal"]
    },
    {
        "id": 3,
        "name": "Svg Birthday Cake Animation",
        "desc": "A Happy Birthday Cake Animation with Gsap Html Css ",
        "link": "https://medmhb.netlify.app/",
        "img": "../../public/images/hb.png",
        "languages":["fa-brands fa-html5","fa-brands fa-css3-alt","fa-brands fa-js"]
    },
    {
        "id": 4,
        "name": "A Portfolio Website",
        "desc": "a static website using html,css",
        "link": "https://mahdjoubesma.github.io/cv/",
        "img": "../../public/images/wd2.png",
        "languages":["fa-brands fa-html5","fa-brands fa-css3-alt"]
    },
    {
        "id": 5,
        "name": "pmTimer",
        "desc": "a pomodoro timer using html css js",
        "link": "https://pmtimer.netlify.app/",
        "img": "../../public/images/PmTimer.png",
        "languages":["fa-brands fa-html5","fa-brands fa-css3-alt","fa-brands fa-js"]
    },
]

---

<section class="work">
<div class="pr">
<>
{data.map((dt)=> <Project image={dt.img} name={dt.name} desc={dt.desc} link={dt.link} languages={dt.languages} /> )}
</div>
</section>
