---
const {image,link,name,desc,languages} = Astro.props
---

<div class="item">
        <div class="ph">
        <img src={image} alt={name} />
        </div>
        <div class="ctn">
        <h2><a href={link} target="_blank">{name}</a></h2>
        <p>{desc}</p>
        {languages?.map((l)=> <span><i class={l}></i></span> )}
        </div>
</div>
